@font-face {
    font-family: 'Press Start 2P';
    src: url(./PressStart2P-Regular.woff) format('woff');
    font-weight: regular;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url(./Inter-Variable.woff2) format('woff');
    font-weight: variable;
    font-display: swap;
  }