/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--main-color);
  margin: 100px 0 105px;
  background-image: repeating-linear-gradient(
      90deg,
      var(--back-color) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      0deg,
      var(--back-color) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(var(--from-color), var(--before-color));
  font-variation-settings: "wght" var(--page-weight, 400);
}
.header {
  max-inline-size: 696px;
  margin: auto;
  border: 2px solid var(--main-color);
  gap: 25px;
  background-color: var(--back-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--p2p-text,fantasy);
  font-weight: 400;
}
.header__logo {
  text-align: center;
  padding-block-start: 136px;
}
.header__logo-text {
  text-decoration: none;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 65px;
}
.header__logo-desecription {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 23px;
  text-transform: uppercase;
  padding-block-start: 20px;
}
.header__theme-menu {
  padding-inline-start: 11px;
  padding-block-end: 20px;
  position: relative;
}
.theme-menu__list {
  padding-inline-start: 11px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.theme-menu__item {
  font-size: 14px;
  line-height: 14px;
}
.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  left: 11px;
  animation: animpointer 0.5s ease-in-out infinite;
}
.theme-menu__button:disabled {
  opacity: 0.6;
}
.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.4s ease-in-out;
}
.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
  transition: width 0.3s;
}
.theme-menu__button:focus-visible:after {
  width: 100%;
}
.theme-menu__button:hover:after {
  scale: 1;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus-visible {
  outline: none;
}
.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button {
  letter-spacing: 1px;
  text-transform: uppercase;
  background: transparent;
  border: none;
  cursor: pointer;
}
.main {
  max-inline-size: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  padding-block-start: 100px;
  font-family: var(--inter-text,sans-serif);
}
.main__cells {
  background-color: var(--back-color);
  border: 2px solid var(--main-color);
}
.main__cells-title {
  border-block-end: 2px solid var(--main-color);
  padding: 3px 10px;
  font-weight: var(--cellstitle-weight);
  padding-block-end: 5px;
  font-size: 18px;
  line-height: 22px;
}
.main__cells-img {
  border-block-end: 2px solid var(--main-color);
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}
.main__cells-button-img {
  cursor: pointer;
  block-size: 27px;
  inline-size: 24px;
}
.main__cells-text {
  padding: 20px 25px 31px;
  font-size: 18px;
  font-weight: var(--cells-text);
  line-height: 21px;
}
.main__cells-mark {
  position: relative;
}
.main__cells-button {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background: transparent;
  border: 2px solid var(--main-color);
  padding: 10px 0;
}
.main__cells-content {
  margin-inline-end: 25px;
  margin-block-end: 21px;
  display: flex;
  align-items: flex-start;
  float: inline-end;
  gap: 6px;
}
.main__cells-button:focus {
  box-shadow: 3px 2px 2px var(--main-color);
}
.main__cells-button-text {
  font-family: var(--p2p-text,fantasy);
  font-size: 14px;
  font-weight: 400;
  line-height: 13px;
  min-inline-size: 130px;
}
.main__cells-button:hover {
  transition: transform 0.3s;
  transform: translateX(0);
}

.main__cells-button:hover .main__cells-button-text {
  mix-blend-mode: hard-light;
  color: var(--back-color);
  z-index: 2;
  transition: color 0.3s;
}

.main__cells-button:hover::before {
  transition: transform 0.3s;
  transform: translateX(0);
  background-color: var(--main-color);
}

.main__cells-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.main__cells-watermark {
  z-index: 1;
  font-family: var(--p2p-text,fantasy);
  text-shadow: -0 -1px 0 var(--text-shadow);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  position: absolute;
  right: 25px;
  top: 25px;
  color: var(--dark-color);
}
.main__cells-text-space {
  padding: 0 25px 22px;
  font-size: 18px;
  font-weight: var(--cells-text);
  line-height: 21px;
}
.card__icon-button {
  background: transparent;
  border: 0;
  padding: 0;
}
.footer {
  padding-block-start: 50px;
}
.footer__button {
  overflow: hidden;
  inline-size: 346px;
  cursor: pointer;
  gap: 8px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: transparent;
  border: 2px solid var(--main-color);
  padding: 15px 21px 14px;
  background-color: var(--back-color);
}
.footer__button:hover {
  transition: transform 0.3s;
  transform: translateX(0);
}

.footer__button:hover .footer__button-text {
  color: var(--back-color);
  z-index: 2;
  transition: color 0.3s;
}
.footer__button:hover .footer__button-img {
  fill: var(--back-color);
  z-index: 2;
  transition: color 0.3s;
}
.footer__button:hover::before {
  transition: transform 0.3s;
  transform: translateX(0);
  background-color: var(--main-color);
}

.footer__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s;
}
.footer__button-text {
  text-decoration: none;
  font-family: var(--p2p-text,fantasy);
  font-size: 14px;
  font-weight: 400;
  line-height: 13px;
}
.footer__dialog-text {
  color: var(--main-color);
  font-family: var(--p2p-text,fantasy);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.footer__dialog-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 0 0 30px 30px;
  display: flex;
  padding: 0;
  background: transparent;
  border: 2px solid var(--main-color);
}
.footer__dialog-button:hover {
  transition: transform 0.3s;
  transform: translateX(0);
}

.footer__dialog-button:hover .footer__dialog-button-text {
  color: var(--back-color);
  z-index: 2;
  transition: color 0.3s;
}

.footer__dialog-button:hover::before {
  transition: transform 0.3s;
  transform: translateX(0);
  background-color: var(--main-color);
}

.footer__dialog-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s;
}
.footer__dialog-button-text {
  font-family: var(--p2p-text,fantasy);
  color: var(--main-color);
  padding: 12.5px 132.5px;
}
.footer__dialog-title {
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-block-end: 30px;
}
.footer__button-img {
  max-inline-size: 21px;
  fill: var(--main-color);
}
.footer__dialog {
  border: 2px solid var(--main-color);
  background-color: var(--back-color);
  max-inline-size: 357px;
}
.footer__dialog[open]::backdrop{
  opacity: 0.75;
  background: var(--back-color, #000000);
}
.footer__dialog-img {
  max-inline-size: 39px;
}
/* filter */
.filter-gray {
  filter: grayscale(80%);
}
.filter-sat {
  filter: saturate(300%);
}
.filter-inv {
  filter: invert(89%);
}
.filter-hue {
  filter: hue-rotate(30deg);
}
.filter-mul {
  filter: grayscale(50%) hue-rotate(80deg) blur(2px);
}
.filter-blur {
  filter: blur(10px);
}
.filter-sep {
  filter: sepia(72%);
}
.like-icon {
  block-size: 39px;
  inline-size: 39px;
}
@supports (
  (-webkit-text-stroke: 1px var(--back-color, #000)) or
    (text-stroke: 1px var(--back-color, #000))
) {
  .main__cells-button:hover .main__cells-button-text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--back-color, #000);
    text-stroke: 1px var(--back-color, #000);
  }
  .footer__dialog-button:hover .footer__dialog-button-text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--back-color, #000);
    text-stroke: 1px var(--back-color, #000);
  }
  .footer__button:hover .footer__button-img {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--back-color, #000);
    text-stroke: 1px var(--back-color, #000);
  }
}
/* адаптив */
@media (width <= 375px) {
  .page {
    margin: 100px 0 100px;
  }
  .header__logo{
    padding-block-start: 120px;
  }
  .header__logo-text {
    line-height: 49px;
  }
  .header__logo-desecription {
    font-size: 14px;
    line-height: 14px;
  }
  .main__cells-title{
    max-inline-size: 351px;
  }
  .theme-menu__item {
    font-size: 13px;
    line-height: 14px;
  }
  .theme-menu__list {
    gap: 10px;
  }
  .main {
    padding-block-start: 105px;
    gap: 53px;
  }
  .main__cells-text {
    padding: 20px 0 28px;
    max-inline-size: 317px;
    margin: 0 auto;
  }
  .main__cells-watermark {
    top: 20px;
    right: 10px;
  }
  .footer__button {
    flex-direction: column;
    inline-size: auto;
    padding-block-start: 15px;
  }
  .footer__button-img {
    max-inline-size: 28px;
  }
}

