/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --back-color: #000;
  --from-color: rgba(0, 127, 12, 1);
  --before-color: rgba(0, 67, 6, 1);
  --main-color: rgba(0, 204, 20, 1);
  --dark-color: rgba(0, 204, 20, 0.5);
  --text-shadow: rgba(0, 0, 0, 1);
  --transition: all 0.3s ease 0s;
  --inter-text: "Inter", sans-serif;
  --p2p-text: 'PressStart2P', fantasy;
  --cellstitle-weight: 785;
  --cells-text: 465;
  --page-weight: 400;
}
